<p1>HelloWorld</p1>
<ul>
  {% for item in object_list %}
  <li>{{ item.status }} (order: {{ item.order }})</li>
  <ul>
    {% for ticket in item.ticket_set.all %}
       <li> {{ ticket.title }} | 
        <form method="post" id="status" action="{% url 'ticket_update' ticket.id %}">
        <select name="status">
          {% for status in object_list %}
            <option value="{{ status.id }}"> {{ status }} </option>
          {% endfor %}            
        </select> | 
          {% csrf_token %}
          <input type="submit" value="Modify">
        </form>
      </li>
    {% endfor %}
  </ul> 
  {% endfor %}
  </ul>
<div>
  <a href="{% url 'create' %}">create</a>
</div>
